<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/resources/css/bootstrap.min.css">
    <script src="/resources/jquery/jquery.min.js"></script>
    <script src="/resources/js/bootstrap.min.js"></script>
    <style>
        input[type="text"] {
        width: 600px;
        }
    </style>
    <title>Lekhana</title>
</head>
<body>
<div class="container">
    <div style="margin-top: 25px">
        <div class="span12">
            <div class="hero-unit">
                <h1>Lekhana</h1>
                <h4>Because a pen is mightier only if used....</h4>
                <br/>
                {% block write %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
</body>
</html>