<!DOCTYPE html>
<html>
<head>
      <link rel="stylesheet" type="text/css"  href="/bootstrap/css/bootstrap.min.css" >
      <style>
          textarea {
                font-size: 20pt;
                font-family: Comic Sans MS;
          }
          a{
                font-family: Comic Sans MS;
          }
      </style>
</head>
<body>
    <div class="container">
        <div class="row" style="margin-top: 25px">
            <div class="span12">
                <div class="hero-unit">
                    <h1>Lekhana</h1>
                    <h4>Because a pen is mightier only if used....</h4>
                    <br/>

                    <div class="container">
                        <textarea class="field span8" id="textarea" rows="15" placeholder="What's your story?"></textarea>
                    </div>
                    <div class="span8"></div>
                     <p><a href="#" target="_blank" class="btn btn-primary btn-large">Post</a></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>