{% extends 'viewBlog.html' %}
{% block read_tab %}{{ deactivate }}{% endblock %}
{% block edit_tab %}
<li class="active"><a href="#Edit" data-toggle="tab"><i class="icon-retweet"></i>Edit</a></li>
{% endblock %}

{% block read_tab_content %}{{ deactivate }}{% endblock %}
{% block edit_tab_contents %}
<div class="tab-pane active" id="Edit">
    <form action="/home/update/" method="post">
        {% csrf_token %}
        <br>
        <input type="hidden" name="id" value="{{ blog.id }}">
        <input type="text" class="form-control" id="newTitle" maxlength="50" name="newTitle" width="1100px"
               value="{{ blog.title }}" required>
        <br>
        <br>

        <div>
            <textarea class="span8" maxlength="21000" name="newContent" rows="15" required>{{ blog.content }}</textarea>
        </div>

        <div class="span8"></div>
        <input type="submit" class="btn btn-primary btn-large" value="Edit">
    </form>
</div>
{% endblock %}