<!DOCTYPE html>
<html>
<head>
      <link rel="stylesheet" type="text/css"  href="static/Blog/bootstrap.min.css">
</head>
<body>
      <div class="offset7">
      <form class="form-horizontal">
        Username :
        <input type="text" name="username" placeholder="username" id="inputEmail" required/>

      <br/>
      <br/>
          Password :
          <input type="password" name="password" placeholder="password" class="inputPassword" required/>

      <br/>
      <br/>
          <div><span class="offset2"><button type="submit" class="btn btn-primary">Login </button></span></div>
      </form>
      </div>
</body>
</html>