{% extends 'writeBlog.html' %}
{% block write_tab %}{{ deactivate }}{% endblock %}
{% block search_tab %}active{% endblock %}

{% block write_tab_content %}{{ deactivate }}{% endblock %}

{% block search_tab_content %}active{% endblock %}

{% block search_results %}
<div>
    <ul>
        {% if foundblogs %}
        {% for blog in foundblogs %}
        <li>
            <a href="/home/view/?id={{ blog.id }}">{{ blog.title }}</a>
        </li>
        {% endfor %}
        {% else %}
        <p class="text-center">No blog found with the title '{{ title }}'.</p>
        {% endif %}
    </ul>
</div>
{% endblock %}