{% extends 'writeBlog.html' %}
{% block write_tab %}{{ deactivate }}{% endblock %}
{% block add_tabs %}
<li class="{% block read_tab %}active{% endblock %}"><a href="#Read" data-toggle="tab"><i class="icon-file"></i>Read</a>
</li>
{% block edit_tab %}{% endblock %}
{% endblock %}

{% block write_tab_content %}{{ deactivate }}{% endblock %}
{% block search_tab_content %}{{ deactivate }}{% endblock %}

{% block other_tabs_contents %}
<div class="tab-pane {% block read_tab_content %}active{% endblock %}" id="Read">
    <form action="/home/manip/" method="post">
        {% csrf_token %}
        <input type="hidden" value="{{ blog.id }}" name="id">

        <strong>{{ blog.title }}</strong>

        <p>{{ blog.content }}</p>

        <div class="span8"></div>
        <input type="hidden" name="action" id="action">
        <input type="submit" value="Delete" onclick="setAction('Delete')" class="btn btn-large btn-primary">
        <input type="submit" value="Edit" onclick="setAction('Edit')" class="btn btn-large btn-primary">
    </form>
</div>
{% block edit_tab_contents %}{% endblock %}
{% endblock %}

{% block manip_route_script %}
<script type="text/javascript">
    function setAction(action){
        document.getElementById('action').value = action;
    }


</script>
{% endblock %}